
*{
	box-sizing:border-box; 
}

body{
	margin:0;

}


.marquee1{
	background-color:#fcd436;
	margin-top:0px; 
	height:30px;
	font-size:20px;
	font-weight: bold;
	font-family:cursive;


}
navi{
	background-color:#b0b0ae;
	height:45px;
}
/*.navi a{
	text-decoration: none;
	font-size:30px;
	color: #313236;
	margin-left:100px;
	margin-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	
	
}
.navi a:hover{
	color:#f5b907;
	background-color:black;
	height:35px;
}*/
ul{
	list-style-type: none;
	margin:0;
	overflow: hidden;
	background-color: #b0b0ae;
	text-decoration: none;
	font-size:30px;
	color: #313236;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:20px;
	text-align:center;
	height:60px;


}
 li{
 	float: left;
 }

 li a, .dropbtn{
 	display: inline-block;
 	color: #313236;
 	text-align: center;
 	padding: 14px 16px;
 	text-decoration: none;
 }

 li a:hover, .dropdown:hover .dropbtn{
 	color:#f5b907;
	background-color:black;
	height:60px;

 }

 li .dropbtn{
 	display: inline-block;
 }

 .dropdown-content{
 	display: none;
 	position: absolute;
 	background-color: #f9f9f9;
 	min-width: 160px;
 	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 	z-index: 1;
 }
  .dropdown-content a{
  	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
  	width:178px;
  }

  .dropdown-content a:hover {
  	background-color:#f5b907;
  	color:red;

  }

  .dropdown:hover .dropdown-content{
  	display: block;

  }

.content{
	background:url("backgroundlogo.jpeg");
	background-repeat:no-repeat;
	width:100%;
	height:auto;
	background-position:center;

}

.footer{
	background-color:black;
}
.con{
	color:white;

}
.footer .address, .footer .contact{
	display:inline-block; 
	margin-left:450px;
}
.addresstext{
	color:#f5b907;
}
.hr{
	color:white;
	text-align:center;
	font-style:italic;
}
